<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="eds">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport  maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://10.7.227.12:43080/" binding="customBinding"
          bindingConfiguration="eds" contract="EDSWebService.edsPortType"
          name="eds" />
    </client>
  </system.serviceModel>
</configuration>