<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="eds">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://127.0.0.1:43080/" binding="customBinding" bindingConfiguration="eds" contract="EDSWebService.edsPortType" name="eds" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
<connectionStrings><add name="DiagDBEntities" connectionString="metadata=res://*/DiagDB.csdl|res://*/DiagDB.ssdl|res://*/DiagDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\sqlexpress;initial catalog=DiagDB;persist security info=True;user id=sa;password=psWD!159!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>
